#grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(18,5rem);
    background-color: burlywood;
    gap: .5rem;
    padding: .5rem;
    text-align: center;

}

#grid-container > div{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

@media only screen 
and (max-width: 576px){
    #grid-container{grid-template-columns:repeat(1,auto)}
    #grid-container >div:nth-child(odd) {display: none}
}

@media only screen 
and (min-width: 576px) and (max-width:768px){
    #grid-container{grid-template-columns:repeat(2,auto);};
    #grid-container >div:nth-child(odd) {display: none}
}

@media only screen 
and (min-width:768px) and (max-width:1024px){
    #grid-container{grid-template-columns:repeat(4,auto);}
    #grid-container >div:nth-child(even) {display: none}
}

@media only screen 
and (min-width:1024px) and (max-width:1280px){
    #grid-container{grid-template-columns:repeat(6,auto);}
    #grid-container >div:nth-child(odd) {grid-column: span 3}
    #grid-container >div:nth-child(even) {grid-column: span 1}
}

@media only screen 
and (min-width:1280px){
    #grid-container{grid-template-columns: repeat(8,auto);}
    #grid-container >div:nth-child(odd) {grid-column: span 1}
    #grid-container >div:nth-child(even) {grid-column: span 4}
}

